.related-posts{
    margin-bottom: 133px;
    
    h2{
        margin-bottom: 64px;
          font-size: ((32px / $font-size-base) + $font-unit);
          font-weight: 900;
          color: #1a1818;
    }
}