
.top-stories_index2{
    margin-top:40px;
    margin-bottom: 80px;
    
    // &:before,
    // &:after,{
    //     content: " ";
    //     display: table;
    // }

    // &:after{
    //     clear: both;
    // }

    > h2:first-child{
        margin-top: 15px;
        font-size: rem(18);
        width: auto;
        @media screen and (max-width: $mmd-break){
            width: 100%;
            padding-left: 15px;
        }

        @media screen and (max-width: $md-break){
            padding-left: 0;
        }

        @media screen and (max-width: $mobile-break){
            margin-top: 19px;
            font-size: rem(16);
            font-weight:900;
        }


    }




    a.card {
        height:auto;
        font-size: 13px;
        font-weight: 500;
        color: #1a1818;
        background:none;
        padding-bottom: 15px;
        
        &:before {
            background:none;
        }
    
        @media screen and (max-width: $mobile-break){
            margin-bottom:8px;
            padding-bottom:12px;
            border-bottom: solid 2px rgba(229,230,231,.6);
        }


        article{
            width:100%;
            display: inline-block;
            // margin-top: 23.6px;

            @media screen and (max-width: $mmd-break){
                // float: left;
                // height: 65px;
                overflow: hidden;
                // border: 0;
            }
            @media screen and (max-width: $sm-break){
                width: 100%;
                height:100%;
                // margin-left: 15px;
                padding-left: 0;
                // margin-right: 15px;
                padding-right: 0;
                padding-top: 10px;
            }

            figure{
                height: 80px;
                width: 80px;
                position:static;
                margin-right: 14px;
                float: left;
                position:relative;


                @media screen and (max-width: $mobile-break) {
                    height: 63px;
                    width: 63px;
                }


                &.video {
                    &:before{
                        width:36px;
                        height:36px;
                        margin-left:-18px;
                        margin-top:-18px;
                    }
                }


                img{
                    max-width: 100%;
                }
            }


            .content {
                display:block;
                position:static;
                margin:0;

                .category {
                    display:none;
                }
                h2{
                    font-size: rem(17);
                    font-weight: 700;
                    margin-top: .5em;
                    margin-bottom: 0;
                    color:black;
                    height:60px;
                    line-height: 1.4em;

                    @media screen and (max-width: $mmd-break){
                        margin-top: .3em;
                        font-size: ((14px / $font-size-base) + $font-unit);
                    }

                    @media screen and (max-width: $sm-break){
                        line-height: 1.3em;
                        font-size: ((12px / $font-size-base) + $font-unit);
                    }


                    @media screen and (max-width: $mobile-break){
                        height:auto;
                        font-size: rem(15);
                    }



                }
                
                > p.excerpt {
                    display:none;
                }

                .author {
                    display:none;
                }
                time{
                    font-size: rem(11);
                    font-weight: 600;
                    color: #6c6e71;
                    margin:0;

                    @media screen and (max-width: $mobile-break) {
                        font-size: rem(9);
                        opacity:.6;
                    }
                }
            }
        }


        &.social{ 

            figure {
                // height:auto;
            }

            // background: #e5e6e7;

            .content {

                > p {
                    font-size: ((14px / $font-size-base) + $font-unit) !important;
                    font-weight: 700;
                    margin-top: .5em;
                    color:black;
                    max-width: 90%;
                    height:40px;
                    margin-bottom:0;
                    line-height: initial;
                    @media screen and (max-width: $mmd-break){
                        margin-top: .3em;
                        height:60px;
                    }
                }

                .category {
                    display:none;
                }
                .article-icon {
                    display:none;
                }
            }

            &.facebook {

                &.without__image {

                    .content {
                        position:relative;
                        z-index:1;

                        .article-icon {
                            display:inline-block;
                            float: left;
                            margin: 20px;  
                            background-image: url(../icons/facebook-blk.svg);
                        }
                        
                        time {
                            padding-top: 5px;
                        }
                    }
                }

                &.withImage__content {
                    figure{
                        margin:0;
                        width:auto;
                        position: absolute;
                        z-index: 0;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;

                        &:after{
                            content: '';
                            opacity: 0.3;
                            background-color: #231f20;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                        }
                    }
                    .content {
                        position:relative;
                        z-index:1;

                        .article-icon {
                            display:inline-block;
                            float: left;
                            margin: 20px;  
                            background-image: url(../icons/facebook-blk.svg);
                        }
                        
                        time {
                            padding-top: 5px;
                        }

                        // > p {
                        //     color:white;
                        // }

                    }
                }

            }



            &.twitter {

                &.without__image {
                    background: $brand-yellow;

                    .content {
                        position:relative;
                        z-index:1;

                        .article-icon {
                            display:inline-block;
                            float: left;
                            margin: 20px;  
                            background-image: url(../icons/twitter-blk.svg);
                        }
                        
                        time {
                            padding-top: 5px;
                        }
                    }
                }

                &.withImage__content {
                    figure{
                        margin:0;
                        width:auto;
                        position: absolute;
                        z-index: 0;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;

                        &:after{
                            content: '';
                            opacity: 0.3;
                            background-color: #231f20;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                        }
                    }
                    .content {
                        position:relative;
                        z-index:1;

                        .article-icon {
                            display:inline-block;
                            float: left;
                            margin: 20px;  
                            background-image: url(../icons/twitter-blk.svg);
                        }
                        
                        time {
                            padding-top: 5px;
                            color:white;
                        }

                        > p {
                            color:white;
                        }

                    }
                }

            }

            &.youtube {
                .content {
                    .article-icon {
                        background-image: url(../icons/youtube-blk.svg);
                    }
                }
            }
            &.vimeo {
                .content {
                    .article-icon {
                        background-image: url(../icons/vimeo-blk.svg);
                    }
                }
            }

            &.youtube, &.vimeo {

                figure {
                    &:before{
                        left:auto;
                        right:20px;
                    }

                }

                &.without__image {

                    .content {
                        position:relative;
                        z-index:1;

                        .article-icon {
                            display:inline-block;
                            float: left;
                            margin: 20px;  
                        }
                        
                        time {
                            padding-top: 5px;
                        }
                    }
                }

                &.withImage__content {
                    figure{
                        margin:0;
                        width:auto;
                        position: absolute;
                        z-index: 0;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;

                        &:after{
                            content: '';
                            opacity: 0.3;
                            background-color: #231f20;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                        }
                    }
                    .content {
                        position:relative;
                        z-index:1;

                        .article-icon {
                            display:inline-block;
                            float: left;
                            margin: 20px;  
                        }
                        
                        time {
                            padding-top: 5px;
                            color:white;
                        }

                        > p {
                            color:white;
                        }

                    }
                }

            }

            &.instagram {

                figure{
                    margin:0;
                    width:auto;
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;

                    &:after{
                        content: '';
                        opacity: 0.3;
                        background-color: #231f20;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                    }

                }

                .content {
                    position:relative;
                    z-index:1;

                    .article-icon {
                        display:inline-block;
                        float: left;
                        margin: 20px;  
                        background-image: url(../icons/instagram-blk.svg);
                    }

                    time {
                        padding-top: 5px;
                        color:white;
                    }

                    > p {
                        color:white;
                    }

                }

            }


        }       

    }

}

