{{ set(this, 'title', 'Contact Us') }}  

<div class="page_section">
    <section class="page-channel container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="contact_details">
                    <h2 class="contact_details__org">Central News</h2>
                    <h1 class="contact_details__head">Contact us</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <p class="contact_details__par--lead">We value our readers and welcome your thoughts and feedback. </p>
                <p class="contact_details__par">If you have a story idea, wish to provide feedback, have a question 
                    or encounter an issue please send us a message.</p>
            </div>
            <div class="col-sm-12 col-md-2 visible-md-block visible-lg-block"></div>
            <div class="col-sm-12 col-md-6">
                {{this.render('layouts/partials/messages.twig') | raw }}
                <form id="contactForm" class="form-horizontal form-contact" action="{{_AppHelper.getContactFormUrl()}}" method="post" autoComplete="off">
                    <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
                    <div class="controls-full">
                        <div class="form-group field-contactform-name required">
                            <input type="text" id="contactform-name" class="form-control" name="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="controls-full">
                        <div class="form-group field-contactform-email required">
                            <input type="text" id="contactform-email" class="form-control" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="controls-full">
                        <div class="form-group field-contactform-message required">
                            <textarea class="form-control" name="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <button type="submit" id="btnContact" class="button green lg" style="margin-top:20px;" name="contact-button">Send Message</button>
                </form>
            </div>
        </div>
    </section>
</div>