{% set footermenu = _Menu.get({'menuType': 'footer'}) %}


<footer class="site-footer">
        <section class="footer-signup">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-3 col-sm-4 text-right">
                    <label for="header-search" class="assistive-text sr-only">Search</label>
                    <fieldset>
                        <form method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
                            <label for="header-search" class="assistive-text sr-only">Search</label>
                            <input type="text" class="field" name="s" id="header-search" placeholder="Search" required="">
                            <button class="btn btn-default" type="submit" id="searchsubmit" style="background: none;border: none;">
                                <span class="icon icon-search-blk"></span>
                                <span class="screen-reader-text"></span>
                            </button>
                        </form>
                    </fieldset>
                    
                </div>
            </div><!--row-->
        </div><!--container-->
    </section><!--footer-signup-->

    <section class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xxs-2">
                <a class="navbar-brand" href="#" rel="Home" tabindex="-1" title="Home">
                        <img src="{{network.templatePath}}/static/images/plain-logo.png" alt="UTL Logo">
                    </a>
                </div><!--col-sm-2-->

                <div class="col-sm-2 hidden-xxs footer-links">
                    <ul>
                        {% set x = 0 %}
                    {% for menu in footermenu %}
                        {% set x = x + 1 %}
                        <li><a href="{{menu.link}}">{{menu.blogTitle}}</a></li>
                        {% if x == 2 or x == 5 or x == 8  or x == 12 %}
                                </ul>
                            </div>
                            <div class="col-sm-2 hidden-xxs footer-links">
                                <ul>
                        {% endif %}    
                    {% endfor %}
                    </ul>
                </div><!--col-sm-2-->


                <div class="col-sm-2 col-xxs-8 pull-right show-xxs">
                    <div class="social-links">
                        <a href="https://www.facebook.com/centralnews.com.au/" class="icon facebook"><span class="sr-only">Facebook</span></a>
                        <a href="https://twitter.com/centralnewsuts" class="icon twitter"><span class="sr-only">Twitter</span></a>
                        <a href="https://www.instagram.com/centralnewsuts/" class="icon instagram"><span class="sr-only">Instagram</span></a>
                    </div>
                </div>

            </div><!--row-->

            <div class="row">
                <div class="col-sm-10 col-sm-offset-2 hidden-xxs">
                    <div class="social-links">
                        <a href="https://www.facebook.com/centralnews.com.au/" class="icon facebook"><span class="sr-only">Facebook</span></a>
                        <a href="https://twitter.com/centralnewsuts" class="icon twitter"><span class="sr-only">Twitter</span></a>
                        <a href="https://www.instagram.com/centralnewsuts/" class="icon instagram"><span class="sr-only">Instagram</span></a>
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-menu">
                        <span class="powered"><a href="https://publish.aap.com.au">POWERED BY AAP PUBLISH</a></span>
                    </div><!-- .footer-menu -->
                </div><!-- .col-sm-12-->
            </div><!-- .row-->



        </div><!--container-->
    </section><!--footer-content-->
</footer><!--site-footer-->